@font-face {
    font-family: BM-HANNA;
    src: url(../fonts/BM-HANNA.ttf);
}

.gallary-box {
       position: relative;
       overflow: hidden;
   }

   .gallary-box img {
       width: 100%;
       height: auto;
       display: block;
   }

   .gallary-box img:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
   }

 .content {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     opacity: 0;
     transition: opacity 0.3s;
     text-align: center;
 }
.content h1 {}


  .gallary-box:hover .content {
      opacity: 1;
      color: rgb(255, 255, 255);
  }

body {
    padding: 0;
    margin: 0;
    background-color: #DBD4CD;
    font-family: BM-HANNA;
}

a {text-decoration: none;}
ul li {list-style: none;}
ul li a {list-style: none; color: black;}

header {
    height: 108px;
    background-color: #AA9987;
}

#header-logo {
    height: 45px;
    width: 45px;
    margin-left: 10px;
    margin-top: 27px;
}

#Hambuger-menu {
    margin-top: 40px;
    margin-left: 20px;
}

.gallary-box {
    margin-top: 50px;
}

.gallary { margin-top: 70px;}

.gallary h1 {font-size: 60px;}
.gallary h2 {
    margin-top: 70px;
    text-align: center;
    
} 

footer{margin-bottom: 80px; }

#footer-logo {
    height: 45px;
    width: 45px;
    margin-left: 60px;
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;

}
.social-media-icon a img {
    width: 40px;
    height: 40px;
    margin-left: 30px;
}

@media screen and (min-width: 768px){
    header{
        height: 105px;
    }
    #Hambuger-menu {display: none;}
    #header-logo {
        height: 55px;
        width: 55px;
    }
   
    .gallary-box {
        margin-top: 50px;
    }

    .gallary h1 {font-size: 120px;}

    .gallary h2 {font-size: 50px;}

    .social-media-icon a img {
            width: 50px;
            height: 50px;
        }

}