@font-face {
    font-family: BM-HANNA;
    src: url(../fonts/BM-HANNA.ttf);
}

@font-face {
    font-family: BMYEONSUNG;
    src: url(../fonts/BMYEONSUNG.ttf);
}

body {
    padding: 0;
    margin: 0;
    background-color: #DBD4CD;
}

a {text-decoration: none;}
ul li {list-style: none;}
ul li a {list-style: none; color: black;}

header {
    height: 108px;
    background-color: #AA9987;
}

#header-logo {
    height: 45px;
    width: 45px;
    margin-left: 10px;
    margin-top: 27px;
}

#Hambuger-menu {
    margin-top: 40px;
    margin-left: 20px;
}
#jintao-text {
    font-size: 52px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: BM-HANNA;
}

#banner {
    border: none;
    height: 170px;
    margin-bottom: 70px;
    background-image: url(../images/home/art-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Line */

#my-work {
    text-align: center;
    font-size: 55px;
    margin-top: 50px;
    font-family: BM-HANNA;
}

.tittle {
    text-align: center; 
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
    font-family: BM-HANNA;
    }


.img-box {
    height: 195px;
    background-color: #707070;
    margin-top: 50px;
    margin-bottom: 50px;
}

#motion-text p {text-align: center;}


#earbunds-img-box {
    height: 90px;
    background-color: bisque;
    margin-top: 30px;
    margin-bottom: 60px;
}

#logo-design-des {
    padding-top: 20px;
    line-height: 50px;
}

#makeup-img {
    height: 267px;
    background-color: brown;
    margin-bottom: 70px;
}

#about-me {
    margin-top: 50px;
    font-size: 55px;
    text-align: center;
    font-family: BM-HANNA;
}

#profile-img{
    background-image: url(../images/home/profile-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 70px;

}

#my-des {margin-top: 20px; margin-bottom: 70px; font-family: BMYEONSUNG;}


#experience {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    line-height: 30px;
    font-family: BM-HANNA;
    
}

#experience h1{font-size: 50px;}

#experience p {
    font-size: 20px;
    margin-top: 25px;
}
#what-do {
    text-align: center;
    font-family: BM-HANNA;
    }
#what-do h1 {margin-top: 50px; margin-bottom: 50px; font-size: 35px;}
#what-do p {margin-top: 10px; margin-bottom: 40px; font-size: 20px;}

#contact-img {
    height: 236px;
    background-color: blueviolet;
    margin-top: 50px;
}

#lets-work {
    margin-top: 170px;
    font-family: BM-HANNA;
    line-height: 50px;
}

#email-me {font-family: BM-HANNA; line-height: 30px;}

footer{margin-bottom: 80px; }

#footer-logo {
    height: 45px;
    width: 45px;
    margin-left: 60px;
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;

}


@media screen and (min-width: 768px){
    header{
        height: 105px;
    }
    #Hambuger-menu {display: none;}
    #header-logo {
        height: 65px;
        width: 65px;
    }
    #jintao-text {font-size: 100px;}
    #banner {
        height: 462px;
    }

    .img-box {
        height: 295px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #profile-img{
        height: 400px;
        width: 400px;
        border-radius: 50%;
    }

    #my-des {margin-top: 100px; margin-bottom: 70px;}

    #earbunds-img-box {
        height: 300px;

    }
    #my-des {font-size: 30px;}

}