a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

ul li a {
    color: black;
}

header {
    height: 108px;
    background-color: #AA9987;
    font-family: BM-HANNA;
}

#header-logo {
    height: 45px;
    width: 45px;
    margin-left: 30px;
    margin-top: -100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    margin-top: 30px;
}

.nav-menu li a {
    margin-right: 50px;
    color: white;
    
}

.nav-menu li a:hover {
    transition: 0.5s ease-in;
    color: black;
}

.nav-menu {
    display: none;
    background-color: #aa9987e7;
    text-align: center;
    padding-left: 50px;
    padding-top: 10px;
    position: absolute;
    top: 70px;
    right: 0;
    line-height: 60px;
    z-index: 1;
    width: 50%;
    height: 30%;
    font-size: 18px;
}

.nav-menu.active {
    display: block;
        /* Show the menu when active */
    }

#ham-menu {
    width: 40px;
    margin-right: 20px;
    cursor: pointer;
    margin-top: -10px;
    
}







