.log-con {
    text-align: center;
    padding: 200px 400px;
}

.log-con h2 {
    margin-bottom: 50px;
}

.log-con input {
    margin-left: 30px;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 20px;
    
}

.log-con #button {
    width: 80px;
    margin-left: 90px;
    background-color: black;
    color: white;
}