
.gallary-box {
    position: relative;
}

.gallary-box img {
    width: 100%;
    display: block;
    box-shadow: 15px 10px 10px rgb(74, 74, 74);
    border-radius: 20px;
}

.gallary-box:hover {
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
}

section .content h1 {
    background-color: rgba(0, 0, 0, 0.371);
    font-size: 50px;
    border-radius: 15px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    text-align: center;
    
}

.gallary-box:hover .content {
    opacity: 1;
    color: rgb(255, 255, 255);
}
.gallary-box {
    margin-top: 70px;
}

.gallary {
    margin-top: 70px;
}

.gallary h1 {
    font-size: 65px;
}

.gallary h2 {
    text-align: center;
    font-size: 30px;
}